<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mainTitle">Enter the details</h1>
    <form action="/" method="POST" id = "data-form">
        <input type="radio" name="ID" value="student_id" />
        <label>Student ID</label>
        <input type="radio" name="ID" value="course_id" />
        <label>Course ID</label>
        <input type="text" name="id_value" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>